.Settings {
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .settingsWrap {
    width: 100%;
    border-radius: 10px;
    background: #f8f9fa;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  }
  
  .settingsHead {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 25px;
  }
  
  .settingsHead button {
    padding: 10px 15px;
    border: 1px solid #1572e8;
    background: #ffff;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    width: 180px;
    height: 50px;
    color: rgb(88, 92, 93);
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }

  .settingsHead button:hover{
    cursor: pointer;
  }
  
  .settingsHead button.active {
    background: #1572e8;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
  }

 .personalForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }
 
 .personalForm section{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label{
        font-size: 14.6px;
        line-height: 20.44px;
        font-weight: 500;
    }
 }

 
 .personalForm section input {
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white; 
}

input:disabled {
    border: none;
    background: #eeeeef !important; 
    color: #656566;
    cursor: not-allowed;
}


 .personalForm .btnHolder{
    width: 100%;
    
    button{
        width: max-content;
        padding: 15px 20px;
        border: none;
        outline: none;
        font-size: 18px;
        color: white;
        background-color: #1572e8;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    button:hover{
        cursor: pointer;
        background-color: #257cef;
    }
 }
  
 .passwordForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }
 
 .passwordForm section, .bankSettings section, .currencySettings section{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label{
        font-size: 18.6px;
        line-height: 20.44px;
        font-weight: 500;
    }
 }

 
 .passwordForm section input, .bankSettings section input, .currencySettings section input {
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white; 
}

 .passwordForm .btnHolder, .widthdrawalSettings .btnHolder{
    width: 100%;
    
    button{
        width: max-content;
        padding: 15px 20px;
        border: none;
        outline: none;
        font-size: 18px;
        color: white;
        background-color: #1572e8;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    button:hover{
        cursor: pointer;
        background-color: #257cef;
    }
 }

 .passwordForm .redirection{
    color: #1572e8;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
 }

 .passwordForm .redirection:hover{
    text-decoration: underline;
 }


 .settingsForm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }

 .optionGroup {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label{
        font-size: 18.6px;
        line-height: 20.44px;
        font-weight: 500;
    }
  }
  
  .radioGroup {
    display: flex;
    align-items: center;
    /* gap: 15px; */
  }
  
  .radioGroup input {
    display: none;
  }
  
  .radioGroup label {
    padding: 10px 20px;
    border: 1px solid black;
    color: rgb(177, 175, 175);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* .radioGroup span:hover {
    border: 1px solid #1572e8;
    background: #1571e81b;
    color: #1572e8;
    font-weight: bold;
  } */
  
  .radioGroup .selected {
    border: 1px solid #1572e8;
    background: #1571e81b;
    color: #1572e8;
    font-weight: bold;
  }
  
  .btnHolder {
    width: 100%;
    
    button{
        width: max-content;
        padding: 15px 20px;
        border: none;
        outline: none;
        font-size: 18px;
        color: white;
        background-color: #1572e8;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    button:hover{
        cursor: pointer;
        background-color: #257cef;
    }
  }
  

  .widthdrawalSettings{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .widthdrawalSettings .bankSettings, .widthdrawalSettings .currencySettings{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .widthdrawalSettings .bankSettings .bsHead, .widthdrawalSettings .currencySettings .bsHead{
    width: 100%;
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(169, 175, 187, 0.82);
    font-family: 'Lato', sans-serif;
  }



  