*{
    font-family: Nunito sans-serif;
}

.Dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}

.Dashboard article{
    width: 100%;
    height: 100%;
    display: flex;
}

.Dashboard article aside{
    width: 20%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 20px;
  display: flex;
}

.Dashboard article main{
    width: 80%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-color: #f8f9fa;

    header{
        display: none;
}
}

.Dashboard .deskTopHead{
    width: 100%;
}

.Dashboard .AhmDashHeader{
    width: 100%;
    height: 80px;
    background-color: #1572e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
}

.Dashboard .AhmDashHeader aside{
    width: 20%;
    padding: 20px;
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Dashboard .AhmDashHeader nav{
    width: 80%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dashboard .AhmDashHeader nav .btnHolder{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 20px;

    button{
        padding: 10px;
        border: none;
        outline: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #f25961;
        color: white;
        font-size: 11px;
        line-height: 16.5px;
        font-family: Lato, sans-serif;
        font-weight: 400;
        transition: background 0.3s all ease;
    }
    button:hover{
        cursor: pointer;
        background-color: #f25961f9;

    }
}

.Dashboard .AhmDashHeader nav ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    position: relative;
    width: 50%;
}

.profile{
    position: absolute;
    padding: 20px;
    width:55%;
    left: 50%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0%;
    z-index: 9999;
}

.profile .profileInfo{
    width: 100%;
    background-color: white;
    /* padding: 10px; */
    margin-top: -13px;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.profile .profileInfo section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    font-family: Lato, sans-serif;

    button{
        background-color: #6861ce;
        border: none;
        outline: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: white;
        padding: 10px;
        width: max-content;
        cursor: pointer;
    }

    span{
        font-size: 14px;
        padding: 5px;
        color:  rgb(33, 37, 41);
        font-weight: 400;
        line-height: 14px;
    }
    span:hover{
        cursor: pointer;
        width: 100%;
        background-color: #ebebeb;
    }
}

.language{
    /* width: 30%; */
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;

    select{
        height: 30px;
        width: 200px;
        cursor: pointer;
        outline: none;
    }
    span{
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        color:  rgb(68, 68, 68);
        font-family: Lato, sans-serif;
    }

}

:root {
    --bg-color: #f8f9fa;
    --header-bg: #1572e8;
    --text-color: rgb(52, 58, 64);
    --button-bg: #f25961;
    --button-hover-bg: #f25961f9;
    --border: 1px solid black;
    --sideBtn-bg: #f7f8f9;
    --tran-bg: #f8f9fa;
    --tran-active: white;
    --container-bg: #f8f9fa;
    --container-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    --button-active-top-side-border: 1px solid #dee2e6;
    --border-hover: 1px solid #dee2e6;
    --b1: solid black;
    --button-active-bottom-border: 1px solid #dee2e6;
  }
  
  
  [data-theme="dark"] {
    --bg-color: #1a2035;
    --header-bg: #1a2035;
    --text-color: #fff;
    --button-bg: #f25961;
    --border: 1px solid #2f374b;
    --button-hover-bg: #f25961f9;
    --sideBtn-hover-bg: #f7f8f9;
    --container-bg: #1a2035;
    --tran-bg: #1a2035;
    --tran-active: white;
    --container-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    --header-bottom: solid 2px #161b2e;
    --border-hover: 1px solid white;
    --b1:  solid rgb(120, 120, 120);
    --button-active-top-side-border: 1px solid white;
    --button-active-bottom-border: 1px solid white;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  .Dashboard .AhmDashHeader {
    background-color: var(--header-bg);
    border-bottom: var(--header-bottom);
  }
  
  .Dashboard .AhmDashHeader nav .btnHolder button {
    background-color: var(--button-bg);
  }
  
  .Dashboard .AhmDashHeader nav .btnHolder button:hover {
    background-color: var(--button-hover-bg);
  }
  
  .Dashboard article {
    background-color: var(--container-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .Dashboard article main{
    background-color: var(--container-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.copyRight{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: Lato, sans-serif;
    border-top: 1px solid #293247;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.48px;
    color: rgb(52, 58, 64);
}

 /* @media (max-width: 768px) {
  .Dashboard article {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .Dashboard article .sidebarSub {
    width: 0%;
    overflow: hidden;
    transition: width 0.3s ease;
  }
  
  .Dashboard article .sidebarSub.open {
    width: 60%;
  }
  
  .Dashboard article main {
    flex: 1; 
    width: 40%;
    transition: margin-left 0.3s ease;
  }
  
   .Dashboard article.main-expanded {
    margin-left: 60%; 
  } 
  
  .Dashboard article main header {
    display: flex;
    width: 100%;
  }
  
  .Dashboard article main {
    overflow: hidden;
  }
  

  .Dashboard .deskTopHead{
    display: none;
  }

  .Dashboard article aside{
    display: none;
  }
  
  .Dashboard article main header{
    display: flex;
    width: 100%;
    background-color: green;
}

  .copyRight {
    padding: 10px;
    font-size: 12px;
  }
}  */

.Dashboard article {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  /* .Dashboard article aside {
    width: 20%; 
    height: 100%;
    overflow-y: auto;
    transition: all 0.3s ease;
  } */
  
  .Dashboard article .sidebarSub {
    width: 0; 
    height: 100%;
    overflow: hidden;
    display: none;
    transition: width 0.3s ease;
  }
  
  .Dashboard article .sidebarSub.open {
    width: 40%; 
  }
  
  /* .Dashboard article main {
   
  } */
  
  /* .Dashboard article main.main-expanded {
    left: 40%; 
    width: calc(100vw - 40%); 
  } */
  
  @media (min-width: 320px) and (max-width: 768px) {
    .deskTopHead{
        display: none;
    }
    .Dashboard article aside {
      display: none; 
    }
  
    .Dashboard article .sidebarSub {
      width: 0;
      display: flex;
    }
  
    .Dashboard article .sidebarSub.open {
      width: 60%; 
    }
  
    .Dashboard article main {
      left: 0; 
      width: 100vw; 
      position: absolute;
      /* left: 0;  */
      /* width: calc(100vw - 20%);  */
      height: 100vh;
      /* background-color: var(--container-bg); */
      overflow-y: auto;
      transition: left 0.3s ease, width 0.3s ease;
    }
    .Dashboard article main header {
        display: flex;
      width: 100vw; 
    }
  
    .Dashboard article main.main-expanded {
      left: 60%;
      width: 40%; 
    }
  }
  

